{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
<link rel="stylesheet" type="text/css" href="/assets/css/product.css">
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
{{/section}}
{{#if noProducts}}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    Không có sản phẩm thoả yêu cầu.
  </div>
</div>
{{else}}
<form id="frmAddToCart" method="post" action="/product">
    <input id="txtProId" type="hidden" name="proId">
</form>
<div class="container">
    <div class="center-block">
        <div class="row" >
            {{#each products}}
            <div class="col-lg-3  dien-thoai may-tinh-bang">
                <div class="card">
                    <img class="card-img-top" src="/image/products/{{ProID}}/thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
                    <div class="card-body">
                        <h2 class="card-title">{{ProName}}</h2>
                        <p class="price">
                            <strong>{{number_format Price}}₫</strong>
                        </p>
                        <a href="/product/detail/{{ProID}}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                            Chi tiết 
                        </a>
                        {{#if ../layoutVM.isLogged}}
                        <a class="btn btn-danger lnkAdd" href="javascript:;" role="button" data-proid="{{ProID}}">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Mua
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="card-li">
    <ul class="pagination">
       <li class="disabled">
          <a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
      </li>
      {{#each page_numbers}}
      {{#if isCurPage}}
      <li class="active"><a href="javascript:;">{{value}}</a></li>
      {{else}}
      <li><a href="?page={{value}}">{{value}}</a></li>
      {{/if}}
      {{/each}}
      <li>
          <a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      </ul>
  </nav>
</div>
{{/if}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script type="text/javascript" src="/assets/js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script type="text/javascript" src="/assets/js/main.js"></script>

<!-- Slider -->
<script type="text/javascript" src="/assets/js/bxslider.min.js"></script>
<script type="text/javascript" src="/assets/js/script.slider.js"></script>

<script type="text/javascript">
    $('.lnkAdd').on('click', function() {
        var id = $(this).data('proid');
        $('#txtProId').val(id);
        $('#frmAddToCart').submit();
    });

    $('#body').css('opacity', 0);
    $(window).load(function() {
        $('#body').css('opacity', 1);
    });
</script>

{{#if isAlert}}
<script type="text/javascript">
    setTimeout(function() {
        alert("{{alertMessage}}");
    }, 300);
    
</script>
{{/if}}
{{/section}}