{{#section 'title'}}
	Product List
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/css/chi-tiet.css">
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
<link rel="stylesheet" type="text/css" href="/assets/css/product.css">
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
{{/section}}
{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có sản phẩm thoả yêu cầu.
	</div>
</div>
{{else}}
{{#with product}}
<div class="container name">{{ProName}}</div>
<div class="container">
	<div class="col-lg-6">
		<div class="large-container">
			<img class="large" src="/image/products/{{ProID}}/thumb-front.jpg">
			<img class="large" src="/image/products/{{ProID}}/thumb-mid.jpg">
			<img class="large" src="/image/products/{{ProID}}/thumb-back.jpg">
		</div>
		<div class="small-container">
			<img class="small" src="/image/products/{{ProID}}/thumb-front.jpg" onclick="show(1)">
			<img class="small" src="/image/products/{{ProID}}/thumb-mid.jpg" onclick="show(2)">
			<img class="small" src="/image/products/{{ProID}}/thumb-back.jpg" onclick="show(3)">
		</div>
	</div>
	<div class="col-lg-6">
		<div id="price">
			<strong>{{number_format Price}}đ</strong>
		</div>
		<div id="infor">
			<hr><div class="row">
				<div class="col-lg-3">Số lượt xem:</div>
				<div class="col-lg-9">{{View}}</div>
			</div>
			<hr><div class="row">
				<div class="col-lg-3">Số lượng bán:</div>
				<div class="col-lg-9">{{Quantity}}</div>
			</div>
			<hr><div class="row">
				<div class="col-lg-3">Xuất xứ:</div>
				<div class="col-lg-9">{{Origin}}</div>
			</div>
			<hr><div class="row">
				<div class="col-lg-3">Loại:</div>
				<div class="col-lg-9">{{FullDes}}</div>
			</div>
			<hr><div class="row">
				<div class="col-lg-3">Nhà sản xuất:</div>
				<div class="col-lg-9">{{Producer}}</div>
			</div>
			<hr><div class="row">
				<div class="col-lg-3">Mô tả:</div>
				<div class="col-lg-9">{{TinyDes}}</div>
			</div>
		</div>
	</div>
</div>
{{/with}}
<div class="maincontent-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-product">
                    <h2 class="section-title">Sản phẩm tương tự</h2>
                    <div class="product-carousel">
                    	{{#each lastestProducts}}
                    	<div class="card">
                    		<img class="card-img-top" src="/image/products/{{ProID}}/thumb.jpg">
                    		<div class="card-body">
                    			<div class="card-title">
                    				{{ProName}}
                    			</div>
                    			<p class="price">
                    				<strong>{{number_format Price}}₫</strong>
                    			</p>
                    			<a href="/product/detail/{{ProID}}" class="btn btn-primary">Chi tiết</a>
                    		</div>
                    	</div>
						{{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="maincontent-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-product">
                    <h2 class="section-title">Sản phẩm cùng loại</h2>
                    <div class="product-carousel">
                    	{{#each mostViewProducts}}
                    	<div class="card">
                    		<img class="card-img-top" src="/image/phone/{{ManID}}/{{ProID}}/thumb.jpg">
                    		<div class="card-body">
                    			<div class="card-title">
                    				{{ProName}}
                    			</div>
                    			<p class="price">
                    				<strong>{{number_format Price}}₫</strong>
                    			</p>
                    			<a href="/product/detail/{{ProID}}" class="btn btn-primary">Chi tiết</a>
                    		</div>
                    	</div>
						{{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#section 'js'}}
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script type="text/javascript" src="/assets/js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script type="text/javascript" src="/assets/js/main.js"></script>

<!-- Slider -->
<script type="text/javascript" src="/assets/js/bxslider.min.js"></script>
<script type="text/javascript" src="/assets/js/script.slider.js"></script>
<!--Detail-->
<script type="text/javascript" src="/assets/js/chi-tiet.js"></script>
{{/section}}